parameters:
  ignoreErrors:
    - '#MonologInit\\Monolog\\Logger#'
    - '#Call to static method createJob\(\) on an unknown class Resque\\Resque_Job_Creator#'
    - '#Call to an undefined method object::perform\(\)#'
