includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  paths:
    - src
    - test
  ignoreErrors:
    - '#MonologInit\\Monolog\\Logger#'
    - '#Call to an undefined method object::perform\(\)#'
    - '#type has no value type specified in iterable type Predis\\Client#'
